*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
body{ 
    background-color: white; 
} 
.mainTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
}
#container{ 
    background-color: aliceblue; 
    width: 900px; 
    height: 600px; 
    margin: -45px auto auto auto; 
    display: grid; 
    grid-template-columns: auto auto; 
    border: inset 2px gray; 
    margin-bottom: 40px;
} 
#myInteraction{ 
    padding: 10px; 
} 
header{
   padding-bottom: 40px;
}
footer{
    padding-bottom: 0px;
    padding-top: 40px;
}
.topnav {
    background-color: black;
    overflow: hidden;
    margin-bottom: 40px;
    border: 5px black solid;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 70px;
}
        
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
        
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

footer{
    padding: 0px;
}
img{
    width: 475px;
}
    
@media screen and (max-width: 1000px) {
    main{
        width: 80vw;
  
    }
    footer > p{
        width: 80vw;
    }
    img:hover{
        transform: none;
    }
    .Top{
        width: 60px;
        height: 60px;
        bottom: 60px;
        right: 60px;
   
    }
    header{
        height: auto;
    }
  
    nav{
        width: 100%;
    }
  
    nav> ul{
        display: block;
    }
  
  }
  
  @media screen and (max-width: 600px) {
    body{
        font-size: 16px;
  
    }
    main{
        width: 100vw;
        padding: 20px;
    }
    h1{
        font-size: 180%;
    }
    footer > p{
        width: 100vw;
        padding-left: 60px;
    }
  }